<!DOCTYPE html>
<html lang="es">
  <head>
    {% block head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <section class="section">
    <nav class="navbar navbar-dark bg-dark"><!-- Navbar content --></nav>  
    <nav class="navbar navbar-dark bg-dark"><!-- Navbar content --></nav>  
    <nav class="navbar navbar-dark bg-dark"><!-- Navbar content --></nav>  
    <div class="columns">
       <div class="column">
              <div class="row">
               <div class="col-sm-4">

               </div>
               <div class="col-sm-4">
                <h3 class="is-size-3">Disciplinas</h3>
                <a href="{{url_for('issues.agregar_disciplina')}}">
                  <button type="button" class="btn btn-primary">Nueva Disciplina</button>
                  <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                      <li class="page-item disabled">
                        <a class="page-link">Anterior</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#">Siguiente</a>
                      </li>
                    </ul>
                  </nav>
               </a>
                <div class="container my-3">
                   <table class="table table-striped">
                   <thead>
                     <tr>
                       <th>Id</th>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th>Entrenador</th>
                        <th>Dia</th>
                        <th>Hora</th>
                        <th>Costo</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for issue in issues %}
                     <tr>
                       <td>{{issue.id}}</td>
                       <td>{{issue.nombre}}</td>
                       <td>{{issue.categoria}}</td>
                       <td>{{issue.entrenador}}</td>
                       <td>{{issue.dia}}</td>
                       <td>{{issue.hora}}</td>
                       <td>{{issue.costo_mensual}}</td>
                     </tr>
                    {% endfor %} 
               </tbody>          
             </thead>
          </table>
          <button type="button" class="btn btn-primary">Eliminar</button></a>
          <button type="button" class="btn btn-primary">Modificar</button></a>
       </div>
       <a class = "mx-5" href="{{url_for('home')}}"> Volver al inicio </a>
   </div>
  </section>
{% endblock %}
