{% extends "layout.html" %}
{% block title %}Carnet{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="card mb-3">
            <h2 class="card-header">Club Deportivo Villa Elisa</h2>
            <div class="card-body">
                <h5 class="card-title">{{socio.nombre}} {{socio.apellido}}</h5>
                <h6 class="card-subtitle text-muted">{{socio.tipo_documento}}: {{socio.numero_documento}}</h6>
                <div>
                    <img
                    src="{{ url_for('static', filename=imagen) }}"
                    alt="imagen_socio"
                    style="width:125px;height:125px;"
                    />
                    <img
                    src="{{ url_for('static', filename=qr) }}"
                    alt="qr_socio"
                    style="width:150px;height:150px;"
                    />
                </div>
                <div>
                    <strong>Estado de cuenta:</strong>
                    {% if estado %}
                    Al día
                    {%else%}
                    Moroso
                    {%endif%}
                </div>
                <div>
                    <strong>Fecha de alta:</strong>
                    {{socio.fecha_alta.strftime('%Y-%m-%d')}}
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <a href="{{url_for('socios.socios_index')}}"> Volver</a>
    </div>
    <form method="POST" action="">
        {{ form.csrf_token }} 
        {{ form.hidden_tag() }}
        {{ form.submit(class="btn btn-primary") }}
      </form>
    </div>
</div>

{% endblock %}