{% extends "layout.html" %}
{% block title %}Socios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<div class="form-group" style="width: 40rem;">
    
    <fieldset>

        <label class="form-label mt-4" for="readOnlyInput">Apellido</label>
        <input class="form-control" id="readOnlyInput" type="text" placeholder="{{ usuario.last_name }}" readonly="">

        <label class="form-label mt-4" for="readOnlyInput">Nombre</label>
        <input class="form-control" id="readOnlyInput" type="text" placeholder="{{ usuario.first_name }}" readonly="">
        
        <label class="form-label mt-4" for="readOnlyInput">Documento</label>
        <input class="form-control" id="readOnlyInput" type="text" placeholder="{{ socio.tipo_documento }} {{ socio.numero_documento }}" readonly="">
    
        <label class="form-label mt-4" for="readOnlyInput">Género</label>
        <input class="form-control" id="readOnlyInput" type="text" placeholder="{{ socio.genero }}" readonly="">
    
        <label class="form-label mt-4" for="readOnlyInput">Dirección</label>
        <input class="form-control" id="readOnlyInput" type="text" placeholder="{{ socio.direccion }}" readonly="">
    
        <label class="form-label mt-4" for="readOnlyInput">Teléfono</label>
        <input class="form-control" id="readOnlyInput" type="text" placeholder="{{ socio.telefono }}" readonly="">

        <label class="form-label mt-4" for="readOnlyInput">Email</label>
        <input class="form-control" id="readOnlyInput" type="text" placeholder="{{ usuario.email }}" readonly="">

        <label class="form-label mt-4" for="readOnlyInput">Número de Socio</label>
        <input class="form-control" id="readOnlyInput" type="text" placeholder="{{ socio.id }}" readonly="">
            
    </fieldset>
    <br>
    <div class="row">
        <div class="col-md-2">
            <form action="{{ url_for('socios.update_socio', socio_id=socio.id)}}" method="post">
                {{ form.csrf_token }}
                <button class="btn btn-primary">Editar</button>
            </form>
        </div>

        {% if socio.habilitado %}
        <div class="col-md-2">
            <form action="{{ url_for('socios.switch_state_socio', socio_id=socio.id)}}" method="post">
                {{ form.csrf_token }}
                <button class="btn btn-warning">Deshabilitar</button>
            </form>
        </div>
        {% endif %}
        {% if not socio.habilitado %}
        <div class="col-md-2">
            <form action="{{ url_for('socios.switch_state_socio', socio_id=socio.id)}}" method="post">
                {{ form.csrf_token }}
                <button class="btn btn-outline-success">Habilitar</button>
            </form>
        </div>
        {% endif %}
        <div class="container">
            {% if inscripciones %}
            <br>
            <h2>Inscripciones</h2>
            <table class="table table-bordered border-primary table-responsive">
              <thead>
                <tr class="table-dark">
                  <th>Disciplina</th>
                  <th>Categoria</th>
                  <th>Instructor</th>
                </tr>
              </thead>
              <tbody>
                {%for inscripcion in inscripciones%}
                <tr class="table-secondary">
                  <th class="text-center align-middle">
                    {{inscripcion.disciplina.nombre}}
                  </th>
                  <th class="text-center align-middle">
                    {{inscripcion.disciplina.categoria}}
                  </th>
                  <th class="text-center align-middle">
                    {{inscripcion.disciplina.entrenador}}
                  </th>
                </tr>
                {%endfor%}
              </tbody>
            </table>

            {% endif %}
        <br>
        <a href="{{url_for('socios.socios_index')}}"> Volver</a>
    </div>
</div>

{% endblock content %}