{% extends "layout.html" %}
{% block title %}Socios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

  <div class="container">

    <h2>Buscar socio</h2>
    <form method="POST" action="">
      {{ form.csrf_token }} 
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <div class="input-group mb-3">
          {{ form.apellido(class="form-control", placeholder="Apellido") }}
          {{ form.submit(class="btn btn-primary") }}
        </div>
        <div class="form-group">
          {{ form.habilitado.label(class="form=control-label") }}
          {{ form.habilitado }}
        </div>
      </fieldset>
    </form>
    <br>
    <table class="table table-hover">
      <thead>
        <tr class="table-dark">
          <th>Apellido</th>
          <th>Nombre</th>
          <th>Documento</th>
          <th>Genero</th>
          <th>Email</th>
          <th>Estado</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for socio in socios_pag.items %}
        <tr class="table-active">
          <th>{{ socio[1].last_name }}</th>
          <th>{{ socio[1].first_name }}</th>
          <th>{{ socio[0].tipo_documento }} {{ socio[0].numero_documento }}</th>
          <th>{{ socio[0].genero }}</th>
          <th>{{ socio[1].email }}</th>
          {% if socio[0].habilitado %}
          <th>
            <span class="badge rounded-pill bg-success">Habilitado</span>
          </th>
          {% endif %}
          {% if not socio[0].habilitado %}
          <th>
            <span class="badge rounded-pill bg-secondary">Deshabilitado</span>
          </th>
          {% endif %}
          <th>
            <a href="{{ url_for('socios.ver_socio', socio_id=socio[0].id) }}"> Ver </a>
          </th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class=pagination>
      {%- for page in socios_pag.iter_pages() %}
          {% if page %}
              {% if page != socios_pag.page %}
                  <a href="{{ url_for('socios.socios_index', page=page ) }}"><button>{{ page }}</button></a>
              {% else %}
                  <strong>{{ page }}</strong>
              {% endif %}
          {% else %}
              <span class=ellipsis>…</span>
          {% endif %}
      {%- endfor %}
    </div>
  </div>

{% endblock %}