{% extends "layout.html" %}
{% block title %}Disciplina{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<head>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body> 
   <nav class="navbar navbar-dark bg-dark"></nav>  
   <nav class="navbar navbar-dark bg-dark"></nav>
   <nav class="navbar navbar-dark bg-dark"></nav>
   <div class="container my-3">
   <div class="d-grid gap-2">
     <h3> Disciplinas </h3> 
     <th><a href="{{url_for('disciplinas.inscribir_Disciplina')}}"><button class="btn btn-primary"> Crear Nueva </button></a></th>
     <div class="d-flex flex-column align-items-center">
         <table class="table table-striped">
            <thead>
               <tr class="table-dark">
                  <th>Nombre</th>
                  <th>Categoria</th>
                  <th>Instructor</th>
                  <th>Dia</th>
                  <th>Hora</th>
                  <th>Precio </th>
                  <th>Activa</th>
                  <th></th>
                  <th>Editar</th>
                  <th>Estado</th>
                </tr>
               </thead>
               <tbody>
                    {% for disciplina in disciplinas_pag.items %}
                     <tr>
                        <th>{{disciplina.nombre}}</th>
                        <th>{{disciplina.categoria}}</th>
                        <th>{{disciplina.entrenador}}</th>
                        <th>{{disciplina.dia}}</th>
                        <th>{{disciplina.hora}}</th>
                        <th>{{disciplina.costo_mensual}}</th>
                        <th>{{disciplina.estado}}</th>
                        <td width="30">
                           <th><a href="{{url_for('disciplinas.edit_discip',id=disciplina.id)}}"><button class="btn btn-link">Editar</button></a></th> 
                           <th><a href="{{url_for('disciplinas.modify_state',id=disciplina.id)}}"><button class="btn btn-link">Cambiar</button></a></th>
                        </td>
                     </tr>
                    {% endfor %} 
                    <th><a href="{{url_for('disciplinas.export_discip')}}"><button class="btn btn-primary">Exportar Pdf </button></a></th>
                    </tbody>          
                </thead>
               </table>
               <nav aria-label="Page navigation example">
                   <ul class="pagination justify-content-center">
                       {% for page_num in disciplinas_pag.iter_pages(left_edge=1, right_edge=1, 
                       left_current = 1, right_current = 2) %}
                       {% if page_num %}
                       {% if page_num == disciplinas_pag.page %}  
                          <li class="page-item active">
                            <a class="page-link"  href="{{ url_for('disciplinas.disciplina_index',page=page_num) }}">
                            {{page_num}}
                             </a>
                           </li> 
                        {%else%}
                         <li class="page-item">
                          <a class="page-link" href="{{ url_for('disciplinas.disciplina_index',page=page_num) }}">
                           {{page_num}}
                          </a>
                        </li>
                        {% endif %} 
                        {% endif %} 
                       {% endfor %}
                    </ul> 
                </nav>     
               </div>
          </div>
      </div>
     </div>  
</body>
</html>
{% endblock %}
