{% extends "layout.html" %} {% block title %}Configuracion{% endblock %} {%
block head %} {{ super() }}
<script>
  function validatePhone(event) {
    var regex = /^\(?(\d{2,})\)?[- ]?(\d{3,})[- ]?(\d{4,})$/;
    var phoneNumber = $("#numero_club")[0].value;
    console.log(phoneNumber);
    console.log(regex.test(phoneNumber));
    if (!regex.test(phoneNumber)) {
      event.preventDefault();
      return alert(
        "El numero de telefono solo puede contener numeros y guiones"
      );
    }
    if (!confirm("¿Estas seguro que deseas editar la configuracion?")) {
      event.preventDefault();
    }
  }
</script>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path
      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
    />
  </symbol>
</svg>
{% endblock %} {% block content %}
<div class="d-flex flex-column align-items-center">
  <h1 class="mx-5">Configuracion</h1>
  <form
    class="row g-3 mx-5"
    action="{{ url_for('configuracion.configuracion_update')}}"
    method="post"
    onsubmit="validatePhone(event)"
  >
    {{ form.csrf_token }}
    <div class="form-floating form-control-sm mb-3">
      {{form.elementos_pagina(class="form-control")}}
      <label for="floatingInput">{{form.elementos_pagina.label}}</label>
    </div>
    <div class="d-flex flex-row">
      <div class="form-check">
        {{form.estado_pago(class="form-check-input")}}
        <label class="form-check-label" for="flexCheckDefault">
          {{form.estado_pago.label}}
        </label>
      </div>
    </div>
    <div class="form-floating mb-3">
      {{form.texto_recibo(class="form-control")}}
      <label for="floatingInput">{{form.texto_recibo.label}}</label>
    </div>
    <div class="form-floating mb-3">
      {{form.email_club(class="form-control")}}
      <label for="floatingInput">{{form.email_club.label}}</label>
    </div>
    <div class="form-floating mb-3">
      {{form.numero_club(class="form-control")}}
      <label for="floatingInput">{{form.numero_club.label}}</label>
    </div>
    <div class="form-floating mb-3">
      {{form.valor_base_cuota(class="form-control")}}
      <label for="floatingInput">{{form.valor_base_cuota.label}}</label>
    </div>
    <div class="form-floating mb-3">
      {{form.porcentaje_cuota(class="form-control")}}
      <label for="floatingInput">{{form.porcentaje_cuota.label}}</label>
    </div>
    <div class="d-flex flex-row justify-content-center">
      {{ form.editar(class="btn btn-primary")}}
    </div>
  </form>
  <a class="mx-5" href="{{url_for('home')}}"> Volver al inicio </a>
</div>
{% endblock %}
