{%  extends "layout.html" %}
{% block title %}Disciplinas{% endblock title %}
{% block head  %}  {{ super()   }}  {% endblock title %}
{% block content  %}  
<h1>Disciplinas</h1>
<table class="dis-table box">
    <thead>
          <tr>
            <th>#Id</th>
             <th>Nombre</th>
              <th>Categoria</th>
              <th>Instructor</th>
               <th>Dia</th>
               <th>Hora</th>
               <th>Costo mensual</th>
               </tr>
          </thead>
           <tbody>
                {% for issue in issues %}
           <tr>
               <th>{{ issue.id }}</th>
               <th>{{ issue.nombre }}</th>
                <th>{{ issue.categoria }}</th>
                 <th>{{ issue.instructor }}</th>
                 <th>{{ issue.dia }}</th>
                 <th>{{ issue.hora }}</th>
                  <th>{{ issue.costo }}</th>
              </tr>
         {% endfor %}
      </tbody>
  </table>
{% endblock %}
