{% extends "layout.html" %}
{% block title %}Socios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="column">
    <h1> Socios </h1>
    <div class="column">
      <h2>Buscar socio</h2>
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group"></fieldset>
          <div class="form-group">
            {{ form.numero_documento.label(class="form=control-label") }}
            {{ form.numero_documento(class="form-control form=control-lg") }}
          </div>
        </fieldset>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
      </form>
    </div>
    <a href="{{url_for('socios.buscar_socio')}}"> Listar Socios </a>
    <table class="index-table box">
      <thead>
        <tr>
          <th>Documento</th>
          <th>#</th>
          <th>Genero</th>
          <th>Mail</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        {% for socio in socios %}
        <tr>
          <th>{{ socio.tipo_documento }}</th>
          <th>{{ socio.numero_documento }}</th>
          <th>{{ socio.genero }}</th>
          <th>{{ socio.email }}</th>
          <th><a href="{{ url_for('socios.update_socio', socio_id=socio.id) }}"> Editar </a></th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}