{% extends "layout.html" %}
{% block title %}Socios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="column">
    <h1> Socios </h1>
    <div class="column">
      <h2>Buscar socio</h2>
      <form action="{{ url_for('socios.buscar_socio')}}" method="post">
        <input type="text" name="numero_documento" placeholder="numero_documento">
        <button>Buscar</button>
      </form>
    </div>
    <table class="index-table box">
      <thead>
        <tr>
          <th>Documento</th>
          <th>#</th>
          <th>Genero</th>
          <th>Mail</th>
        </tr>
      </thead>
      <tbody>
        {% for socio in socios %}
        <tr>
          <th>{{ socio.tipo_documento }}</th>
          <th>{{ socio.numero_documento }}</th>
          <th>{{ socio.genero }}</th>
          <th>{{ socio.email }}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}