{% extends "layout.html" %}
{% block title %}Nuevo usuario{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="d-flex flex-column align-items-center">
    <h1 class="mx-5">Añadir nuevo usuario</h1>


  <form action="{{ url_for('usuarios.add_usuario')}}" method="post" id="nuevoUsuario">
    {{ form.csrf_token }}  
    <div class="form-floating mb-3">
      {{form.email(class="form-control")}}
      <label for="email">{{form.email.label}}</label>
    </div>
    <div class="form-floating mb-3">
      {{form.username(class="form-control")}}
      <label for="username">{{form.username.label}}</label>
    </div>
    <div class="form-floating mb-3">
      {{form.password(class="form-control")}}
      <label for="password">{{form.password.label}}</label>
    </div>
    <div class="form-floating mb-3">
      {{form.first_name(class="form-control")}}
      <label for="first_name">{{form.first_name.label}}</label>
    </div>
    <div class="form-floating mb-3">
      {{form.last_name(class="form-control")}}
      <label for="last_name">{{form.last_name.label}}</label>
    </div>

    {{form.enviar(class="btn btn-primary")}}
  </form>

  <div  id="borde_boton">
    <a href="{{url_for('home')}}" id="borde_boton"> <button> Volver al inicio</button></a>
    <a href="{{url_for('usuarios.usuario_index')}}"  id="borde_boton"><button>Menú  usuarios</button></a>
  </div>
</div>
{% endblock %}
