{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="container">
  <h2 class="mx-5"> Usuarios </h2>

  <a class="nav-link btn btn-link" href="{{url_for('usuarios.add_usuario_view')}}"> <button><i class="bi bi-person-plus"></i> Nuevo</button></a>

  <form  class="row g-3 mx-5" action="{{ url_for('usuarios.busqueda_filtrada') }}" method="post">
    <fieldset class="form-group">
      {{ form.csrf_token }} {{ form.hidden_tag() }}
      <div class="input-group mb-3">
        {{form.email(class="form-control", placeholder="mail@mail.com")}}
        {{ form.buscar(class="btn btn-primary") }}
      </div>

      <div class="form-group">
        {{form.estado.label(class="form=control-label")}}
        {{form.estado}}
      </div>
    </fieldset>
  </form>
  <br><br>
  <table class="table table-striped">
    <thead>
      <tr class="table-dark">
        <th>Apellido</th>
        <th>Nombre</th>
        <th>Usuario</th>
        <th>Email</th>
        <th>Activo</th>
        <th>Cambiar estado</th>
        <th>Ver detalle</th>
      </tr>
    </thead>
    <tbody>
      {% for usuario in usuarios_pag.items %}
      <tr>
        <th>{{ usuario.last_name }}</th>
        <th>{{ usuario.first_name }}</th>
        <th>{{ usuario.username }}</th>
        <th>{{ usuario.email }}</th>
        {% if usuario.activo %}
        <th>Si</th>
        <th>
          <form action="{{url_for('usuarios.modify_activo', id=usuario.id)}}" method="post">
            {{ form.csrf_token }}
            <button>Bloquear</button>
          </form>
        </th>
        {% endif %}
        {% if not usuario.activo %}
        <th>No</th>
        <th>
          <form action="{{url_for('usuarios.modify_activo', id=usuario.id)}}" method="post">
            {{ form.csrf_token }}
            <button>Activar</button>
          </form>
        </th>
        {% endif %}
        <th>
          <form action="{{url_for('usuarios.view_usuario', id=usuario.id)}}" method="get">
            <button><i class="bi bi-plus-lg"></i></button>
          </form>
        </th>
      </tr>
      {% else %}
      <th>No hay resultados</th>
      {% endfor %}
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {%- for page in usuarios_pag.iter_pages(left_edge=1, right_edge=1,
        left_current = 1, right_current=2 ) %}
          {% if page %}
              {% if page != usuarios_pag.page %}
                  <li class="page-item active">
                    <a class="page-link" href="{{ url_for('usuarios.usuario_index', page=page, email=email, estado=estado ) }}">{{page}}</a>
                  </li>
              {% else %}
                  <li class="page-item">
                    <a class="page-link" href="{{ url_for('usuarios.usuario_index', page=page, email=email, estado=estado ) }}">{{page}}</a>
                  </li>
              {% endif %}
          {% else %}
            ...
          {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>
{% endblock %}
