{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="d-flex flex-column align-items-center">
  <h1 class="mx-5">Usuarios </h1>

  <section id="borde_contenedor">
    <h5>Resultados de la busqueda:</h5>
    <div class="form-group">
      <p><strong>Email: </strong> {{email}}</p>
      <p><strong>Estado: </strong> {{estado}}</p>
      <div style=text-align:center;>
        <a href="{{ url_for('usuarios.usuario_index') }}"><button id="borde_boton"><i class="bi bi-trash3-fill"></i> Limpiar filtros</button></a>
      </div>
    </div>
  </section>

  <table class="table table-striped">
    <thead>
      <tr class="table-dark">
        <th>Apellido</th>
        <th>Nombre</th>
        <th>Usuario</th>
        <th>Email</th>
        <th>Activo</th>
        <th>Cambiar estado</th>
        <th>Ver detalle</th>
      </tr>
    </thead>
    <tbody>
      {% for usuario in usuarios_pag.items %}
      <tr>
        <th>{{ usuario.last_name }}</th>
        <th>{{ usuario.first_name }}</th>
        <th>{{ usuario.username }}</th>
        <th>{{ usuario.email }}</th>
        {% if usuario.activo %}
        <th>Si</th>
        <th>
          <form action="{{url_for('usuarios.modify_activo', id=usuario.id)}}" method="post">
            {{ form.csrf_token }}
            <button>Bloquear</button>
          </form>
        </th>
        {% endif %}
        {% if not usuario.activo %}
        <th>No</th>
        <th>
          <form action="{{url_for('usuarios.modify_activo', id=usuario.id)}}" method="post">
            {{ form.csrf_token }}
            <button>Activar</button>
          </form>
        </th>
        {% endif %}
        <th>
          <form action="{{url_for('usuarios.view_usuario', id=usuario.id)}}" method="get">
            <button><i class="bi bi-plus-lg"></i></button>
          </form>
        </th>
      </tr>
      {% else %}
      <th>No hay resultados</th>
      {% endfor %}
    </tbody>
  </table>
  <div class=pagination>
    {%- for page in usuarios_pag.iter_pages() %}
        {% if page %}
            {% if page != usuarios_pag.page %}
                <form action="{{ url_for('usuarios.busqueda_filtrada', page=page) }}" method="post">
                  {{ form.csrf_token }}
                  <input type="hidden" value="{{email}}" name="email">
                  <input type="hidden" value="{{activo}}" name="estado">
                  <button class="btn btn-secondary">{{ page }}</button>
                </form>
            {% else %}
                <strong class="btn btn-light">{{ page }}</strong>
            {% endif %}
        {% else %}
            <span class=ellipsis>…</span>
        {% endif %}
    {%- endfor %}
{% endblock %}