{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="d-flex flex-column align-items-center">
  <h1 class="mx-5"> Usuarios </h1>

  <a href="{{url_for('usuarios.add_usuario_view')}}"> <button><i class="bi bi-person-plus"></i> Nuevo</button></a>

  <section id="borde_contenedor"><h6>Buscar por:</h6>
    <form  class="row g-3 mx-5" action="{{ url_for('usuarios.busqueda_filtrada') }}" method="get">
      {{ form.csrf_token }} 
      <div class="form-group">
        {{form.email.label(class="form=control-label")}}
        {{form.email(class="form-control form=control-lg")}}
      </div>

      <div class="form-group">
        {{form.estado.label(class="form=control-label")}}
        {{form.estado(class="form-select")}}
      </div>
        <div class="d-flex flex-row justify-content-center">
          {{form.buscar(class="btn btn-primary")}}
        </div>
    </form>
  </section>

  <table class="table table-striped">
    <thead>
      <tr class="table-dark">
        <th>#</th>
        <th>Username</th>
        <th>Email</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Activo</th>
        <th>Cambiar estado</th>
        <th>Ver detalle</th>
      </tr>
    </thead>
    <tbody>
      {% for usuario in usuarios_pag.items %}
      <tr>
        <th>{{ usuario.id }}</th>
        <th>{{ usuario.username }}</th>
        <th>{{ usuario.email }}</th>
        <th>{{ usuario.first_name }}</th>
        <th>{{ usuario.last_name }}</th>
        {% if usuario.activo %}
        <th>Si</th>
        <th><a href="{{url_for('usuarios.modify_activo', id=usuario.id)}}"><button>Inactivar</button></a></th>
        {% endif %}
        {% if not usuario.activo %}
        <th>No</th>
        <th><a href="{{url_for('usuarios.modify_activo', id=usuario.id)}}"><button>Activar</button></a></th>
        {% endif %}
        <th><a href="{{ url_for('usuarios.view_usuario', id=usuario.id)}}"><button><i class="bi bi-plus-lg"></i></button></a></th>
      </tr>
      {% else %}
      <th>No hay resultados</th>
      {% endfor %}
    </tbody>
  </table>
  <div class=pagination>
    {%- for page in usuarios_pag.iter_pages() %}
        {% if page %}
            {% if page != usuarios_pag.page %}
                <a href="{{ url_for('usuarios.usuario_index', page=page ) }}"><button class="btn btn-secondary">{{ page }}</button></a>
            {% else %}
                <strong class="btn btn-light">{{ page }}</strong>
            {% endif %}
        {% else %}
            <span class=ellipsis>…</span>
        {% endif %}
    {%- endfor %}
  </div>
</div>
{% endblock %}